body{
    background-image:url('i2.jpg');
    background-size:cover;
}
div{
    color:white;
}
.lo:hover{
    color:black;
}
@keyframes b{
    25%{
        transform:rotate(90deg);
    }
    50%{
        transform:rotate(180deg);
    }
    75%{
        transform:rotate(270deg);
    }
    100%{
        transform:rotate(360deg);
    }
    }
    @keyframes  c{
        0%{
            visibility: hidden;
        }
        25%{
            visibility:hidden;
        }
        
    }
    @keyframes  d{
        0%{
            visibility: hidden;
        }
        50%{
            visibility:hidden;
        }
        
    }
    @keyframes  e{
        0%{
            visibility: hidden;
        }
        75%{
            visibility:hidden;
        }
        
        
    }
  
    
    p{
        
        color:white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom:100px;
        text-align:right;
        
    }
    .p2{

          animation-name:c;
          animation-duration:10s;
          margin-bottom:100px;
    }
    .p3{
        animation-name:d;
        animation-duration:10s;
    }
    .p4{
        animation-name:e;
        animation-duration:10s;
        font-weight:500;
    
    }

.load{

   float:left;
    animation:b 10s infinite;
    text-indent: 100px;
}


